*, ::after, ::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    --hot-color: #ff4600;
}

body {
    font-family: "Roboto", sans-serif;
    padding-top: 44px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 60%);
}

/*::-webkit-scrollbar {*/
/*    width: 15px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #c5cae9;*/
/*    border-radius: 10px 0 0 10px;*/
/*}*/

.logo {
    width: 101px;
    height: 58px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.phone {
    font-size: 24px;
    padding: 8px 8px 8px 35px;
    background: #1890ff url(img/phone.svg) no-repeat left 11px center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #1890ff;
    color: #fff;
    text-decoration: none;
}

.promo {
    background: #C5CAE9 url(img/promo.png) no-repeat center right -50px / 400px;
    color: #333;
    padding: 68px 50px;
}

.promo strong {
    color: #e23f3f;
    background: #eee;
    border-radius: 5px;
    padding: 2px 4px;
}

.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
}

.promo-text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    max-width: 538px;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    color: #000000;
}


#modal-back {
    z-index: 130;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

#modal {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    outline: 0;
    max-width: 600px;
    border-radius: 10px;
}

#modal-close {
    margin: 5px;
    float: right;
    background: #aaa;
    padding: 5px;
    font-family: Consolas, monospace;
    border-radius: 5px;
    cursor: pointer;
}

#modal-content {
    overflow: auto;
    max-height: calc(100vh - 80px);
}

#modal-content h2 {
    text-align: center;
}

#modal-content p {
    text-align: justify;
}

#modal-content img {
    width: 300px;
    float: right;
    margin-left: 30px;
}

#modal-content .float-left {
    float: left;
    margin-right: 30px;
    margin-left: 0;
}

.modal-content {
    display: none;
    padding: 20px;
}

#modal-input-close:checked ~ #modal-back {
    display: none;
}

#modal-input-elsa:checked ~ #modal-back #modal-content-elsa {
    display: block;
}

#modal-input-sigv:checked ~ #modal-back #modal-content-sigv {
    display: block;
}

#modal-input-gyro:checked ~ #modal-back #modal-content-gyro {
    display: block;
}


.brand-card {
    min-width: 200px;
    max-width: 200px;
    padding: 15px;
    margin: 5px;
}

.brand-image {
    width: 170px;
    height: 70px;
    margin: auto;
}


#items-filter {
    display: flex;
}

.filter-header, .filter-label {
    margin: 5px;
    line-height: 20px;
}

.filter-label {
    text-decoration: line-through;
    width: 50px;
    height: 50px;
    background: #ccc url(img/2wheel.svg) no-repeat 10px;
    background-size: 30px 30px;
    border-radius: 25px;
    transition: all .2s ease-out;
}

#filter-gyro:checked ~ .cards .card-gyro,
#filter-velo:checked ~ .cards .card-velo,
#filter-mowe:checked ~ .cards .card-mowe,
#filter-sigv:checked ~ .cards .card-sigv {
    display: block;
}

#filter-gyro:checked ~ .section-heading #filter-label-gyro,
#filter-velo:checked ~ .section-heading #filter-label-velo,
#filter-mowe:checked ~ .section-heading #filter-label-mowe,
#filter-sigv:checked ~ .section-heading #filter-label-sigv {
    background-color: #1890ff;
    border-radius: 5px;
}

#items-empty {
    text-align: center;
}

#filter-gyro:checked ~ .cards #items-empty,
#filter-velo:checked ~ .cards #items-empty,
#filter-mowe:checked ~ .cards #items-empty,
#filter-sigv:checked ~ .cards #items-empty {
    display: none;
}

#filter-label-gyro {
    background-image: url(img/2wheel.svg);
}

#filter-label-velo {
    background-image: url(img/electricbike.svg);
}

#filter-label-mowe {
    background-image: url(img/monowheelsvg.svg);
}

#filter-label-sigv {
    background-image: url(img/monopattino.svg);
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #000d;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    right: 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    right: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


.cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items .card {
    display: none;
}

.card {
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    cursor: pointer;
    transition: all .5s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.14);
}

.hot-card {
    border: 3px solid var(--hot-color);
}

.hot-card .card-tag {
    background: var(--hot-color);
}

.hot-card .card-title {
    color: var(--hot-color);
}

.card-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.card-text {
    padding: 20px 23px 35px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    background-color: #000000;
    border-radius: 2px;
    padding: 1px 8px;
    white-space: nowrap;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rating {
    margin-right: 26px;
    color: #ffc107;
    font-weight: bold;
    font-style: 18px;
    line-height: 32px;
}

.category,
.price {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
}

.price {
    margin-right: 10px;
}

.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}

.price::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}


.about-items-card {
    text-decoration: inherit;
    color: inherit;
}

.about-items-card-image {
    object-fit: fill;
}


#scrolTop {
    position: fixed;
    bottom: 25px;
    right: 35px;
    background: rgba(82, 82, 82, 0.64);
    padding: 5px 25px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    z-index: 99;
    width: 65px;
    height: 65px;
}

#scrolTop:before {
    content: " ";
    display: block;
    position: absolute;
    top: 38px;
    left: 20px;
    border: 6px solid #fff;
    border-top: none;
    border-right: none;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transform: translateY(-50%) rotate(135deg);
    -ms-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);
}


#support {
    position: fixed;
    bottom: 25px;
    left: 35px;
    overflow: hidden;
    display: flex;
    transition: all ease-out .5s;
    padding: 15px;
    border-radius: 35px;
    color: #fff;
    background: #1890ff;
    text-decoration: none;
    z-index: 99;
    opacity: 70%;
}

#support:hover, #support-btn:checked ~ #support {
    opacity: 100%;
}

#support-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#support-content {
    display: none;
    transition: all ease-out .5s;
}

#support-content p {
    line-height: 40px;
    margin: 0 10px;
    text-decoration: none;
}

#support-header {
    font-weight: bold;
}

#support-input {
    min-width: 90%;
    min-height: 20px;
    max-width: 400px;
    max-height: 200px;
    border-radius: 5px;
}

#support-btn:checked ~ #support {
    border-radius: 15px;
}

#support-btn:checked ~ #support > #support-content {
    display: block;
}


.subscrib {
    margin: 10px -8px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.subscrib-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 5px;
    color: #eee;
    max-width: 1200px;
}

.subscrib p {
    font-weight: bold;
}

.formInput {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 5px;
}

.formInput[type="submit"] {
    cursor: pointer;
}

.formInput[type="submit"] {
    text-decoration: none;
    float: right;
    color: #eee;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 100%;
    padding: 10px 30px;
    border-radius: 8px;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.formInput[type="submit"]:hover {
    filter: drop-shadow(0px 2px 2px #222a);
    transform: scale(1.05, 1.05) translateY(-2px);
    background-position: 100%;
}


.footer {
    padding: 40px 8px;
    background: #fff;
    margin: -8px;
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}

.footer-link {
    display: inline-block;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.footer-link:not(:last-child) {
    margin-right: 15px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link:not(:last-child) {
    margin-right: 21px;
}

@media (max-width: 1200px) {
    .container {
        min-width: 960px;
    }

    .rating {
        margin-right: 15px;
    }

    .category,
    .price {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        min-width: 750px;
    }

    .promo {
        padding: 50px;
        background-size: 350px;
    }

    .promo-text {
        font-size: 18px;
    }

    .card {
        flex-basis: 45%;
    }

    .footer-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        min-width: 560px;
    }

    .card-info {
        flex-wrap: wrap;
    }

    .rating {
        flex-basis: 100%;
    }

    .card-title {
        font-size: 18px;
    }

    .promo {
        background-position: bottom right -50px;
        background-size: 300px;
    }

    .promo-title {
        font-style: 24px;
        line-height: 1.4;
    }

    .promo-text {
        margin-top: 0;
    }

    #modal-back {
        padding: 0;
    }

    #modal {
        box-shadow: none;
        transform: none;
        border-radius: 0;
        position: static;
        height: 100%;
    }

    #modal-content {
        max-height: 100%;
    }
}

@media (max-width: 578px) {
    .container {
        min-width: 90%;
    }

    .header {
        flex-wrap: wrap;
    }

    .promo {
        background-size: 0;
    }

    .promo-title {
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 20px;
    }

    .card {
        flex-basis: 100%;
    }

    .card-image {
        width: 100%;
    }

    .footer {
        padding: 30px 0;
    }

    .footer-nav {
        order: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        order: 1;
        margin-right: 15px;
    }

    .social-links {
        order: 2;
    }
}

@media (max-width: 480px) {
    .phone {
        margin-top: 15px;
        order: 5;
    }

    .button-text {
        display: none;
    }

    .button {
        min-height: 40px;
    }

    .button-icon {
        padding-right: 0;
    }

    .promo {
        padding: 20px;
    }

    .section-heading {
        flex-wrap: wrap;
    }

    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        order: 0;
        margin-bottom: 0;
    }

    .footer-nav {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-link:not(:last-child) {
        margin-right: 0;
    }
}


.slider-wrapper {
    height: 350px;
    margin: 0 auto 100px auto;
    position: relative;
    width: 100%;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 {
    background-color: #C5CAE9;
}

.slide2 {
    background-color: #c5e7e8;
    background-image: url(img/promo2.png);
}

.slide3 {
    background-color: #e23f3f;
    background-image: url(img/promo3.png);
    color: #eee;
}

.slide4 {
    background-color: #d9e6c3;
    background-image: url(img/promo4.png);
}

.slide5 {
    background-color: #43455a;
    color: #ddd;
    background-image: url(img/promo5.png);
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.slider-wrapper > input {
    display: none;
}

.slider-wrapper .controls {
    left: 50%;
    margin-left: -98px;
    position: absolute;
    margin-top: -30px;
    z-index: 1;
}

.slider-wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 12px;
    position: relative;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.slider-wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background: #eee;
}

.slider-wrapper label:after {
    border: 2px solid #eee;
    content: " ";
    display: block;
    height: 12px;
    position: absolute;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}